div {
  display: inline-block;
  width: 4em;
  line-height: 4em;
  text-align: center;
  font-size: large;
  cursor: pointer;
  border-radius: 3px;
}

div.inactive {
  background-color: red;
}

div.active {
  background-color: green;
}

div.found {
  background-color: purple;
  cursor: default;
}
