<table>
  <tr>
    <td>
      <app-highscores></app-highscores>
      <br/><br/>
      <app-game-settings></app-game-settings>
    </td>
  </tr>
  <tr>
    <td>
      <button>Kaartkleur</button>
      <input type="hidden" id="valueinactive" value="ff0000"><input id="styleInactive">
      <br>
      <button>Open</button>
      <input type="hidden" id="valueactive" value="008C00"><input id="styleActive">
      <br>
      <button>Gevonden</button>
      <input type="hidden" id="valuefound" value="800080"><input id="styleFound">
    </td>
  </tr>
  <tr>
    <td>
      <script>
      </script>
      <button id="opnieuw">Nieuw Spel</button>
    </td>
  </tr>
</table>
